html, body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    -webkit-padding-start: 0px;
    -webkit-overflow-scrolling: touch;
}

ul {
    -webkit-padding-start: 0px;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-weight: 200;
    font-size: 1.5em;
}

h4 {
    font-size: 1.5em;
}

img {
    max-width: 100%;
}

p {
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 1.2em;
    }
}

/* navigation related css */
.navbar-inverse .navbar-nav > li > a {
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #d0d0d0;
}

/** section title css */

.title-font {
    font-family: "Avenir-Light", "Helvetica-Light", sans-serif;
}

.section-title {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

.inline-hr {
    display: inline;
    width: 20%;
    border-style: solid;
}

.inline-hr-left {
    margin: auto auto auto 5%;
}

.inline-hr-right {
    margin: auto 5% auto auto;
}

.white-hr {
    background-color: white;
    color: white;
}

.white-title {
    color: white;
}

.black-hr {
    background-color: red;
    color: red;
}

.black-title {
    color: #1b1b1b;
}


 /* main page css */
.main-page {
    background-image: url('../img/ferrybuilding.jpg');
    background-position: 25% 0%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0;
    display: flex;
    align-items: center;
    padding-top: 50px;
    height: 35vw;

}

@media screen and (max-width: 768px) {
    .main-page {
        background-size: auto;
        background-image: url('../img/ferrybuilding-small.jpg');
    }
}

@media screen and (max-width: 500px) {
    .main-page {
        background-size: auto;
        height: 52.5vw;
    }
}

@media screen and (max-width: 400px) {
    .main-page {
        background-size: auto;
        height: 70vw;
    }
}

.title {
    width: 100%;
}

.name {
    margin: 0 auto auto auto;
    font-weight: normal;
    color: #34495e;
    text-align: center;
}

.profession {
    font-weight: 200;
    font-size: 2em;
    color: #1b1b1b;
    text-align: center;
}

/* About page css */
.about-page {
    height: auto;
    background-color: #34495e;
    position: relative;
    padding-bottom: 5%;
}

.white-text {
    color: white;
}


@media screen and (min-width: 768px) {
    .about-wrapper {
        display: flex;
        align-items: center;
    }
}

.iphone {
    width: 15%;
    margin: 0;
    margin-left: 10%;
}

.development-text {
    color: white;
    margin-left: 25%;
}


/* Project page css */
.project-page {
    background-color: white;
}

.project-container {
    margin: 3% auto 10% auto;
}

.centered-title {
    text-align: center;
    font-weight: 200;
}

.title-link {
    color: #1b1b1b;
    text-decoration: none;
    transition: all 0.2s;
}

.title-link:hover {
    color: #888888;
    text-decoration: none;
}

/* Contact Page css */

.contact-page {
    background-color: #1b1b1b;
}

.button-container {
    text-align: center;
}

.bordered-button {
    color: white;
    font-weight: 200;
    font-size: 1.5em;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    min-width: 50%;
    padding: 10px 5% 10px 5%;
    margin: 25px auto;
    transition: all 0.2s;
}

.bordered-button:hover {
    background-color: white;
    text-decoration: none;
    color: #1b1b1b;
}

/****************************/
/*     ABOUT PAGE STYLES    */
/****************************/

.title-about {
    padding-top: 50px;
    background-color: #34495e;
    overflow: auto;
}

@media screen and (min-width: 768px) {
    .title-about {
        display: flex;
        align-items: center;
    }
}

.bordered-img {
    margin: 15% auto 15% auto;
    border: 4px solid white;
    border-radius: 50%;
}

.block-quote {
    font-weight: 200;
    font-size: 2em;
}

.extra-bottom-padding {
    padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .block-quote {
        font-size: 1.5em;
    }
}

/****************************/
/*  PROJECTS PAGE STYLES    */
/****************************/


.top-padding {
    padding-top: 50px;
}


.project-title {
    font-weight: 200;
}

@media screen and (min-width: 768px) {
    .centered-row {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .project-title {
        text-align: center;
    }
}
