html, body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Avenir";
}

h1 {
    font-size: 5em;
}

/* change text color to white of links */
.navbar-inverse .navbar-nav > li > a {
    color: white;

}

/* show a slight change when hovering */
.navbar-inverse .navbar-nav > li > a:hover {
    color: #e0e0e0;
}

.main-page {
    margin: 0;
    height: auto;
    background-image: url('../img/ferrybuilding.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
}

.title {
}

.name {
    width: 100%;
    margin: 0 auto auto auto;
    font-weight: 200;
    color: black;
    text-align: center;
}

.profession {
    font-weight: 200;
    color: #fe3541;
    text-align: center;
}

.hidden-img {
    visibility: hidden;
    width: 100%;
    height: auto;
    z-index: 0;
    position: relative;
}

.about-page {
    height: auto;
    background-color: #fe3541;
}
